<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Site</title>
	<meta charset="utf-8">
	<link rel ="stylesheet" href="styles.css" type="text/css"/>
	<meta name="viewport" content ="width-device-width, initial-scale=1.0">
</head>
<body class="body">
	<header class="mainHead">
		<img src="C:\Users\varun\Desktop\New\google-python-exercises\copyspecial\zz__something__.jpg" width="400" height="144">
		<nav><ul>
			<li class='active'><a href='#'>Home</a></li>
			<li><a href='#'>Blog</a></li>
			<li><a href='#'>News</a></li>
			<li><a href='#'>Archive</a></li>
		</ul></nav>
	</header>
	<aside class="sideInfo">
		<article>
			<h3>Recent News</h3>
			<p>This is the recent news</p>
		</article>
	</aside>
	<div class="mainContent">
		<div class='content'>
			<article class="typicalArticle">
				<header>
					<h3><a href='#' title='latest post'>Post 1</a></h3>
				</header>
				<footer>
					<p class='postInfo'>Posted 2 hours ago.</p>
				</footer>
				<content>
					<p>This is the first post.</p>
				</content>
			</article>
		</div>
		<div class='content'>
			<article class="typicalArticle">
				<header>
					<h3><a href='#' title='latest post'>Post 2</a></h3>
				</header>
				<footer>
					<p class='postInfo'>Posted now.</p>
				</footer>
				<content>
					<p>This is the second post.</p>
				</content>
			</article>
		</div>
	</div>
	<footer class="mainFooter">
		<p>Copyrigths &copy; 2016.All rigths reserved.</p>
	</footer>
</body>